name: DMF CI/CD
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install frontend deps
        run: |
          cd frontend
          npm ci
          npm run build
      - name: Build functions
        run: |
          cd functions
          npm ci
          npm run build || true
