name: Docker Build & Push

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dmf-music-platform.Web/Dockerfile
          push: false
          tags: dmf-music-platform:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
